*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
ul {
  margin: 0;
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
  margin: 0;
}
.container{
  width: 1400px;
  margin: 0 auto;
}